<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Task Web {% block title %}{% endblock %} </title>  
        {% block extrahead %} {% endblock %}
        <link rel="stylesheet" type=text/css href="{{ STATIC_URL }}task/css/common.css">
    </head> 
    
    <body>
        <div id="container">
            <div id="headerbar">
                <ul id="accountnav">
                    {% if user.is_authenticated %}
                        <li>Welcome, <b>{{user.username}}</b></li>
                        <li>- <a href="{% url django.contrib.auth.views.logout %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url django.contrib.auth.views.login %}">Log in</a></li>
                    {% endif %}
                </ul>
                <br />
                <div id='branding'>
                    <a href="{% url task.views.pending_tasks %}">
                        <img id="logo" src="{{ STATIC_URL }}task/img/logo.png" alt=""/>
                    </a>
                    <h1 id='title'>
                        <a href="{% url task.views.pending_tasks %}">task web</a>
                    </h1>
                </div>
            </div>
            <div id="page-container">
                <div id="navbar-outer">
                    <ul id=navbar>
                        <li><a href="{% url task.views.pending_tasks %}">Pending</a></li>
                        <li><a href="{% url task.views.completed_tasks %}">Completed</a></li>
                        <li><a href="{% url task.views.add_task %}">Add Task</a></li>
                        <li><a href="{% url task.views.upload %}">Upload Data</a></li>
                        <li><a href="">Statistics</a></li>
                    </ul>
                </div>
                <div id='content'>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
