{% extends "base.html" %}

{% block extrahead %}
    <link rel="stylesheet" type=text/css href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/RelatedObjectLookups.js"></script>
    {{ form.media }}
{% endblock %}

{% block content_with_sidebar %}
<div class="container-fluid">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="span9">
        {% if method == "add" %}
        <form class="well form-horizontal" action='{% url task.views.add_task %}' method='post'>
        {% else %}
        <form class="well form-horizontal" action='{% url task.views.edit_task task_id=task.id %}' method='post'>
        {% endif %}
            {% csrf_token %}
            {{ form.as_p}}
            <p><input type='submit' value='Submit' class="btn"/></p>
        </form>
    </div>
</div>
{% endblock %}
